<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>Dashboard Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/upload.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">EPIC CMS</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/videolibrary">
              <span data-feather="file"></span>
              Video library
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="shopping-cart"></span>
              Upload video
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Users
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <%= email %>
      <hr>
      <br>
      <!--<div class="box-holder">-->
        <!--<h3>Upload video</h3>-->
        <!--<br>-->
        <!--<form id="upload_video" enctype="multipart/form-data" action="/api/upload" method="post">-->
          <!--<div class="section selection-note">(Note: Only video files are allowed)</div>-->
          <!--<p class="lead"><input class="btn btn-info" type="file" name="video"/></p>-->
          <!--<p class="lead">-->
            <!--<input type="submit" value="Upload" name="submit" class="btn btn-dark">-->
          <!--</p>-->
        <!--</form>-->
        <!--<p class="lead"><span id="status"></span></p>-->
      <!--</div>-->
      <div class="container">
        <h1 >Video Form</h1>
        <br>
        <div class="">
          <form method="POST" enctype="multipart/form-data" id="videoForm">
            <div class="form-group row">
              <label for="name" class="col-2 col-form-label">Name:</label>
              <div class="col-10">
                <input type="text" class="form-control" id="name" name="name">
              </div>
            </div>
            <div class="form-group row">
              <label for="description" class="col-2 col-form-label">Description:</label>
              <div class="col-10">
                <textarea rows="5" type="text" class="form-control" id="description" name="description"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="datetime" class="col-2 col-form-label">Publish date:</label>
              <div class="col-10">
                <input class="form-control" type="text" name="datetime" value="" id="datetime">
              </div>
            </div>
            <div class="form-group row">
              <label for="videoFile" class="col-2 col-form-label">Video file:</label>
              <div class="col-10">
                <input type="file" class="form-control" id="videoFile" placeholder="File"  name="videoFile" />
              </div>
            </div>
            <div class="form-group">
              <div>
                <button type="submit" class="btn btn-dark" id="btnSubmit">Submit Application</button>
                <button type="reset" class="btn btn-info" id="btnReset">Reset</button>
              </div>
            </div>
          </form>
          <hr/>
          <div id="confirmMsg"></div>
        </div>
      </div>
    </main>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/upload.js"></script>
</body>
</html>
