
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>Dashboard Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/videolibrary.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">EPIC CMS</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="file"></span>
              Video library
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/upload">
              <span data-feather="shopping-cart"></span>
              Upload video
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Users
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <h3>Welcome <%= name %> !</h3>
      <%= email %>
      <hr>
      <br>
      <table id="videolibrary" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
          <th>N0</td>
          <th>Name</th>
          <th>Description</th>
          <th>Upload Date</th>
          <th>Original Name</th>
          <th>Publish Date</th>
          <th>STATUS</th>
        </tr>
        </thead>
        <tbody>

        <% dataJson.video.forEach(function(element, index){ %>
        <tr>
          <td><%= (index+1) %></td>
          <td><%= element.name %></td>
          <td><%= element.description %></td>
          <td><%= element.datetime %></td>
          <td><%= element.originalName %></td>
          <td><%= element.uploaded %></td>
          <td><span class="btn btn-dark btn-sm" data-stamp="<%= element.uploaded %>">OPEN</span></td>
        </tr>
        <% }); %>

        </tbody>

        <tfoot>
        <tr>
          <th>N0</th>
          <th>Name</th>
          <th>Description</th>
          <th>Upload Date</th>
          <th>Original Name</th>
          <th>Publish Date</th>
          <th>STATUS</th>
        </tr>
        </tfoot>
      </table>
    </main>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>
<script src="/js/videolibrary.js"></script>

</body>
</html>
